/* LanguageSwitcher.css */
.lang-btn {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 8px; /* በአዶ እና በጽሁፍ መካከል ያለ ክፍተት */
  background: #003366;;
  border: 1px solid #0073e6;
  color: #ebf0f5;
  padding: 8px 16px;
  border-radius: 8px;
  font-weight: 600;
  cursor: pointer;
  transition: all 0.3s ease;
  width: 100%;
}

.lang-btn:hover {
  background: #0073e6;
  color: #ffffff;
}

.lang-icon {
  font-size: 1.1rem;
}